<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head
<th:block th:include="~{/fragments/headnew}"></th:block>

</head>
<body>

<th:block th:include="~{/fragments/nav-new}"></th:block>

<!-- Behaviour -->
<script sec:authorize="hasRole('ADMIN')">
  $(document).on("click", ".open-delete-dialog", function () {
    $("#deleteId").val($(this).data('id'));
  });
</script>

<div class="my-2 d-flex justify-content-center mt-5">
  <h2>Please add new event</h2>
</div>


<div sec:authorize="hasRole('ADMIN')">
  <a class="new-button btn btn-primary rounded-circle" th:href="@{/events/add}" role="button">
    <i class="fas fa-plus"></i>
  </a>
</div>


<!-- Bootstap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/db29804a3b.js"></script>
<!-- EO: Bootstap JS -->

</body>
</html>