<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="~{/fragments/headnew}"></th:block>
</head>
<body>

<div class="container center mt-5">

    <article class="card-body" width="20">
      <a th:href="@{/registration}" class="float-right btn btn-outline-primary">Sign up</a>
      <br>

        <form th:action="@{/login/authenticate}" method="post">
          <div th:if="${error}" class="alert alert-danger" role="alert">
            This username and password combination does not exist.
          </div>
          <div class="form-group">
            <label for="userEmail">Email</label>
            <input
                    name="username"
                    type="email"
                    th:value="${username}"
                    placeholder="Email"
                    class="form-control"
                    id="userEmail"/>
          </div> <!-- form-group// -->
          <div class="form-group">
            <label for="userPassword">Password</label>
            <input
                    name="password"
                    type="password"
                    placeholder="Password"
                    class="form-control"
                    id="userPassword"/>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </div>
            </div>
          </div>
        </form>

    </article>

  <article>

    <p> Lorem ipsum</p>

  </article>



  <th:block th:include="~{/fragments/footer}"></th:block>
</div>
</body>
</html>
