<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:include="~{/fragments/headnew}"></th:block></head>
<body>

<!-- Navbar -->
<th:block th:include="~{/fragments/nav-new}"></th:block>
<!-- EO: Navbar -->

<br><br>
<div class="container">
  <form th:action="@{/events/add}" method="post" th:object="${eventAddBindingModel}">
    <div class="form-group">
      <label for="eventTitle">Title</label>
      <input type="text"
             placeholder="Title"
             class="form-control"
             th:errorclass="is-invalid"
             id="eventTitle"
             th:field="*{title}"/>
      <div class="invalid-feedback">
        Please fill in a title.
      </div>
    </div>

    <div class="input-group mb-3">
      <label for="description" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
        Event description
      </label>
      <textarea th:field="*{description}" th:errorclass="bg-danger" id="description" rows="10" name="description"
                class="form-control"></textarea>

    </div>

    <div class="form-group">
      <label for="eventDate">Event Date</label>
      <input type="text"
             placeholder="yyyy-mm-dd"
             class="form-control"
             th:errorclass="is-invalid"
             id="eventDate"
             th:field="*{eventDate}"/>
      <div class="invalid-feedback">
        Please fill in a valid date.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<!-- Bootstap JS -->
<th:block th:include="~{/fragments/footer}"></th:block>
<!-- EO: Bootstap JS -->

</body>
</html>
